

.App-header{
  height: 55px;
  background-color: white;
  box-shadow: 10px 0px 3px rgba(29, 29, 29, 0.014);
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
}

.App-header-logo {
  height: 55px;
  display: flex;
  align-items: center;
  position: absolute;
}

.App-header-logo-img {
  height: 32px;
  margin-left: 20px;
}

.App-header-logo-textImg {
  margin-left: 7px;

}

.App-header-search-bar{
  border: none;
  background-color: whitesmoke;
  border-radius: 3px;
  height: 30px;
  margin-left: 33.3%;
  width: 33.3%;
}

.App-header-search-bar-div{
  display: flex;
  width: 100%;
  height: 30px;
}

.App-header-search-bar-button__submit{
  border: none;
  background-color: white;
}

.App-header-search-bar-button__submit:hover{
  cursor: pointer;
}