/* Main */

.Main {
  padding-top: 55px;
  display: flex;
  flex-flow: row nowrap;
}


/* App header */

.App-header{
  height: 55px;
  background-color: white;
  box-shadow: 3px 3px 10px 10px rgba(29, 29, 29, 0.014);
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
}

.App-header-logo {
  height: 55px;
  display: flex;
  align-items: center;
  position: absolute;
}

.App-header-logo-img {
  height: 32px;
  margin-left: 20px;
}

.App-header-logo-textImg {
  margin-left: 7px;

}

.App-header-search-bar{
  border: none;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 28px;
  margin-left: 33.3%;
  width: 33.3%;
}

input[type=text] {
  padding-left: 25px;
  padding: 5px 0px 5px 25px
}

input[type=text]:focus {
  outline: none;
}

.App-header-search-bar-div{
  display: flex;
  width: 100%;
  height: 38px;
}

.App-header-search-bar-button__submit{
  border: none;
  background-color: white;
}

.App-header-search-bar-button__submit:hover{
  cursor: pointer;
}



/* Home */

.HomePost-div{
  display: flex;
  width: 77%;
  margin: 17px;
  border-radius: 3px;
}

.HomeSubreddits-div {
  width: 23%;
  margin-right: 17px;
  margin-top: 17px;
  background-color: white;
  box-shadow: 0 10px 10px 3px rgba(29, 29, 29, 0.068);
  border-radius: 3px;
  height: 100%;
}


/* Posts */
.Posts-div{
  display: flex;
  width: 100%;

}

.Posts-all-div{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}


.Posts{
  display: flex;
  width: 100%;
  background-color: white;
  margin-bottom: 40px;
  box-shadow: 0 10px 10px 3px rgba(29, 29, 29, 0.068);
  border-radius: 4px;
  flex-flow: row nowrap;
}


.Posts:hover{
  box-shadow: 0px 10px 15px 4px rgba(29, 29, 29, 0.089);
}

.Posts-like-dislike-button-div{
  display: flex;
  flex-flow: column nowrap;
  width: 50px;
  align-items: center;
  margin: 28px 26px;
  float: left;
}

.Posts-like-dislike-button-count{
  margin: 5px 7px 9px 7px;
  color: grey;
  font-size: 16px;
}

.Posts-TiArrowUpOutline{
  color: grey;
  margin-bottom: 2px;
}

.Posts-TiArrowUpOutline:hover{
  color: rgb(0, 173, 0);
  background-color: rgba(156, 156, 156, 0.158);
  border-radius: 5px;
  cursor: pointer;
}

.Posts-TiArrowDownOutline{
  color: grey;
  margin-top: 2px;
}

.Posts-TiArrowDownOutline:hover{
  color: red;
  background-color: rgba(156, 156, 156, 0.158);
  border-radius: 5px;
  cursor: pointer;
}

.Posts-like-dislike-button{
  background-color: white;
  border: none;
}


.Posts-main-content-div{
  display: flex;
  width: 94%;
  flex-flow: column nowrap;
  margin-right: 30px;
}

.Posts-main-content{
  width: 100%;
}

.Posts-main-img{
  width: 100%;
  border-radius: 7px;
  object-fit: cover;
  
}

.Posts-main-title{
  font-size: 20px;
  margin-top: 32px;
}

.Posts-footer{
  display: flex;
  border-top: 1px solid rgba(128, 128, 128, 0.418);
  margin-top: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Posts-footer-text{
  margin-top: 20px;
  font-size: 14px;
  color: gray;
}

.Posts-footer-comments{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Posts-footer-comments:hover{
  cursor: pointer;
}

.Posts-footer-comments-BiChat{
  color: grey;
  margin-right: 7px;
  margin-top: 10px;
}

#Posts-footer-text-username{
  margin-left: 33px;
  color: rgb(233, 87, 26);
  font-weight: 600;
}

#LikeDislikeCountDown{
  color: red
}

#LikeDislikeCountUp{
  color: rgb(0, 173, 0);
}



/* SubReddits */

.Subreddits-div{
  width: 18%;
  margin: 17px 17px 0px 0px;
  background-color: white;
  box-shadow: 0 10px 10px 3px rgba(29, 29, 29, 0.068);
  border-radius: 4px;
  align-items: center;
}

.Subreddits-main-title{
  font-size: 30px;
  margin-left: 25px;
  color: rgb(83, 83, 83);
}

.Subreddits{
  display: flex;
  margin-bottom: 10px;
  margin: 5px;
  flex-flow: column nowrap;
  padding-left: 20px;
}

.Subreddit{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  list-style-type: none;
  height: 40px;
}

.Subreddits-title{
  margin: 10px;
}

.Subreddit-img-div{
  display: flex;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
  overflow: hidden;
}

.Subreddit-img{
  object-fit:cover;
  border: rgb(83, 83, 83) solid 4px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Subreddit-title{
  font-weight: 600;
  display: flex;
  align-items: center;
  color: rgb(83, 83, 83);
}

.subredditSelector{
  background-color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 70px;
}

.subredditSelector:hover{
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.subreddit-li{
  display: flex;
  margin: 7px 0px;
}

#subredditClicked{
  background-color: rgba(233, 88, 26, 0.397);
  border-left: rgb(233, 87, 26) solid 7px;
  border-radius: 0px;
}

/* HasError */

.HasError-div{
  width: 77%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 50px;
}

.HasError-title{
  font-size: 30px;
  color: rgb(107, 107, 107);
}

.HasError-button{
  background-color: rgb(240, 131, 85);
  border: none;
  border-radius: 7px;
  padding: 18px 28px;
  cursor: pointer;
}

.HasError-button-text{
  color: white;
  font-size: 18px;

}

/* IsLoading */

.IsLoading-div {
  width: 77%;
  display: flex;
}